// place your custom styles here
@font-face {
  font-family: 'Sarasa UI SC';
  src: url('/fonts/SUSCR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sarasa UI SC';
  src: url('/fonts/SUSC.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JBMR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JBMB.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
