// you can change colors here
$vp-font:'Sarasa UI SC',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$vp-font-mono: 'JetBrains Mono', Consolas, 'Courier New',;
$vp-font-heading: $vp-font;